*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f5f1f1;
}
.header__superior{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(1, 1, 1);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li ul:hover{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul::before{
    content:'' ;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: #0074c7;
    padding-left: 6px;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;

}
nav ul li ul li a:hover{
   background: #023877; 
   color: #f5f1f1;
   transform: scale(1.1);
   padding-left: 30px;
   font-size: 14px;

}
.container__menu{
    width: 100%;
    height: 70px;
    background: #023877;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    color: #f5f1f1;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0px 0px 10px 0px rgb(1, 1, 1);
}main{
    background: #f5f1f1;
    padding: 40px 20px;
    margin-top: 194px;

}
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    color:#737373;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300px;
    
}

h1 {
    text-align: center;
    background-color: rgba(120, 54, 54, 0.648);
    border-radius: 3px;
    font-style: italic;
    box-shadow: 8px 10px 3px rgba(87, 80, 81, 0.953);
    transition: 1s;
}

strong{
    color: #737373;
    font-size: 150%;
}
#parr {
    color:#737373;
    text-align: center;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contenedor-articulos {
    display: flex;
    box-shadow: 5px 5px black;
}
.contenedor-articulos img{
    width: 300px;
    height: 300px;
    padding: auto;
    margin: 10px 10px;
    box-shadow: 5px 5px 3px rgba(27, 26, 26, 0.476);
}
.btnpagina {
    display: block;
    padding: 1% 1%;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background-color: rgba(82, 45, 117, 0.451);
    border-radius: 10px;
    margin: 7px 120px;
    color: antiquewhite;

}
footer {
    width: 100%;
    padding: 50px 20px;
    background-image: url(./fondo.jpg);
    background-size: cover;
;
}
.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px 10px;
    margin-top: 8px;
    padding: auto;
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.logo img {
    width: 30%;
    height: 100%;
    padding: 5px;
}
.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: rgb(20, 14, 20);
    font-style: oblique;
    font-size: 28px;

}
.box__footer h2 {
    margin-bottom: 30px;
    color: rgb(213, 213, 213);
    font-weight: 700;
    border-radius: 3px;
    font-weight: 700;
}
.box__footer a{
    margin-top: 10px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(253, 253, 253);

}
.box__footer a:hover{
    opacity: 0.8;

}
.box__footer a .fab{
    font-size: 40px;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #f5f1f1;

}
